<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
</head>
<body>

<form action="/quotes" method="post">
    <input type="text" placeholder="Name" name="name">
    <input type="text" placeholder="Quote" name="quote">
    <button type="submit">Submit</button>
</form>

<ul class="quotes">
    <% for(var i = 0; i < quotes.length; i++) {%>
    <li class="quote">
        <span><%= quotes[i].name%></span>
        <span><%= quotes[i].quote%></span>
    </li>
    <% }%>
</ul>

</body>
</html>
